<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./common/_head', {title: "black", description: "description",
    path:''}); %>
  </head>

  <body class="black black2">
    <%- include('./common/_header',{video: "video.mp4"}); -%>
  </body>
</html>
