<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./common/_head', {title: "blue", description: "description",
    path:''}); %>
  </head>

  <body class="blue">
    <%- include('./common/_header',{video:
    "AdobeStock_337667387_Video_HD_Preview.mov"}); -%>
  </body>
</html>
