<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./common/_head', {title: "Fixed video"}); %>
  </head>

  <body class="fixed-video">
    <%- include('./common/_header'); %>
  </body>
</html>
