<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./common/_head', {title: "black", description: "description",
    path:''}); %>
  </head>

  <body class="index">
    <table class="table">
      <tr>
        <th></th>
        <th>デザインパターン</th>
        <th>備考</th>
      </tr>
      <tr>
        <td>パターンA-1</td>
        <td>
          <a href="#">動画イメージ</a><br /><a href="#"
            >トップページ全体のイメージ</a
          >
        </td>
        <td>
          黒系、モノトーンに調整した動画。<a
            href="https://www.pexels.com/video/digital-calculation-of-geometrical-space-3141211/"
            target="_blank"
            >こちらの動画</a
          >を編集しました。
        </td>
      </tr>
    </table>
  </body>
</html>
