<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./common/_head', {title: "black", description: "description"});
    %>
  </head>

  <body class="index">
    <div class="p-3">
      <dl>
        <dt>
          ⑤
          以下の部分の背景に関して、黒の背景にテクノロジー企業がイメージできる要素を追加していただきたいです。
        </dt>
        <dd>
          →動画１案、静止画３案を用意用意いたしました。<br />動画を追従させても、思ったほど目がチラつく感は無さそうな印象です。
        </dd>
      </dl>
      <ul>
        <li>
          <a href="fixed-video.html" target="_blank"
            >上部の動画がスクロールしても着いてくるイメージ</a
          >
        </li>
        <li>
          <a href="black.html" target="_blank">テクノロジーっぽい静止背景1</a>
        </li>
        <li>
          <a href="black2.html" target="_blank">テクノロジーっぽい静止背景2</a>
        </li>
        <li>
          <a href="black3.html" target="_blank">テクノロジーっぽい静止背景3</a>
        </li>
      </ul>
      <p>
        ※「Development」「Consulting」「R&D」３つのイラストの背景がベタ塗り状態なんですが、最終的には透過させる予定です
      </p>
    </div>
  </body>
</html>
