<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./common/_head', {title: "blue", description: "description"});
    %>
  </head>

  <body class="white">
    <%- include('./common/_header',{video:
    "AdobeStock_326355752_Video_HD_Preview.mov"}); -%>
  </body>
</html>
