// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/toasts";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/print";

@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons-Light.woff2") format("woff2"),
    url("../fonts/TTCommons-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons-Regular.woff2") format("woff2"),
    url("../fonts/TTCommons-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons-Medium.woff2") format("woff2"),
    url("../fonts/TTCommons-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons-Bold.woff2") format("woff2"),
    url("../fonts/TTCommons-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons-ExtraBold.woff2") format("woff2"),
    url("../fonts/TTCommons-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nsjp";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/nsjpdl.woff") format("woff");
}

@font-face {
  font-family: "nsjp";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/nsjpb.woff") format("woff");
}

body {
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.25rem;
  font-family: "TTCommons", "nsjp", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

h1 {
  font-size: 4rem;
}

.btn,
.form-control {
  border-radius: 0;
}

$white: #fff;
$black: #1a1a1a;
$red: #ed2c3f;

#wrapper {
  margin-top: 0;
  padding-top: 100vh;
}

/* ---------------------------------
 Header
--------------------------------- */
#header-navbar {
  top: 0;
  position: fixed;
  z-index: 4;
  .header-nav {
    a {
      padding: 0 1rem;
    }
  }
  .language {
    font-size: 0.937rem;
    i {
      font-size: 1.125rem;
      margin-top: 5px;
      vertical-align: sub;
    }
  }
}

/* ---------------------------------
 Background video
--------------------------------- */
.bg-video {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  video {
    filter: grayscale(100%);
    transform: scale(-1, 1);
    z-index: 1;
    width: 100%;
  }
  &::after {
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

/* ---------------------------------
 Hero
--------------------------------- */
#hero {
  .hero-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    .hero-content-inner {
      max-width: 640px;
      h1 {
        color: $white;
      }
      p {
        color: #b2b2b2;
      }
    }
  }
  .hero-buttons {
    a {
      display: block;
      margin-right: 1rem;
    }
    .btn-outline-primary {
      border-color: $white;
      background: rgba(255, 255, 255, 0.1);
      color: $white;
      &:hover {
        border-color: $red;
        background: rgba(237, 44, 63, 0.1);
        color: $red;
      }
    }
    .btn-primary {
      border-color: $white;
      background: $white;
      color: $black;
      &:hover {
        border-color: $red;
        background: $red;
      }
    }
  }
  .hero-title,
  .hero-text {
    // font-size: 1rem;
    font-family: "nsjp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .hero-title {
    margin-top: 2.5rem;
  }
  .hero-text {
    font-size: 1.125rem;
  }
}

body.index {
  font-size: 1rem;
  font-family: "nsjp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#who-we-are,
#service,
#media {
  position: relative;
  z-index: 3;
  text-align: center;
  padding: 10rem 0;
  img {
    max-width: 900px;
    width: 100%;
  }
}

#who-we-are,
#media {
  background: rgba(255, 255, 255, 1);
}

#service {
  background: url(../images/bg2.png) no-repeat top center rgb(26, 26, 26);
  background-size: 1440px;
}

body.header,
body.header-slim {
  #header-navbar {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.97);
    width: 100%;
    a {
      color: $black;
      display: block;
    }
    .header-logo {
      transition: all 0.2s;
      padding: 0.75rem 0;
      img {
        transition: all 0.2s;
        width: 236px;
      }
    }
    &.fixed {
      .header-logo {
        padding: 0.5rem 0;
        img {
          width: 180px;
        }
      }
    }
  }
}

body.header-slim {
  #header-navbar {
    .header-logo {
      img {
        width: 266px;
      }
    }
    &.fixed {
      .header-logo {
        img {
          width: 200px;
        }
      }
    }
  }
}

body.sidebar {
  #header-navbar {
    border-right: solid 1px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
    height: 100vh;
    display: flex;
    a {
      color: $black;
      display: block;
    }
    nav {
      width: 140px;
      padding: 0 23px;
      .header-nav {
        a {
          padding: 0.5rem 0;
          font-size: 1.125rem;
        }
      }
    }
    .header-logo {
      padding: 1.5rem 0;
      img {
        width: 94px;
      }
    }
    .language {
      position: absolute;
      bottom: 2rem;
    }
  }
  #hero .hero-content .hero-content-inner,
  #who-we-are img,
  #service img,
  #media img {
    padding-left: 70px;
  }
}

body.sidebar-rectangle {
  #header-navbar {
    border-right: solid 1px rgba(255, 255, 255, 0.1);
    background: #000;
    height: 100vh;
    display: flex;
    a {
      color: $white;
      display: block;
    }
    nav {
      width: 140px;
      padding: 0 23px;
      .header-nav {
        transition: all 0.2s ease;
        top: 170px;
        position: absolute;
        a {
          padding: 0.5rem 0;
          font-size: 1.125rem;
        }
      }
    }
    .header-logo {
      background: $white;
      padding: 1rem 1.5rem 1rem 1rem;
      position: absolute;
      top: 23px;
      box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.75);
      transition: all 0.2s ease;
      img {
        transition: all 0.2s ease;
        width: 280px;
      }
    }
    .language {
      position: absolute;
      bottom: 2rem;
    }
    &.fixed {
      .header-logo {
        box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
        img {
          width: 180px;
        }
      }
      nav {
        .header-nav {
          top: 140px;
        }
      }
    }
  }
  #hero .hero-content .hero-content-inner,
  #who-we-are img,
  #service img,
  #media img {
    padding-left: 70px;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-70px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body.rectangle {
  #header-navbar {
    display: flex;
    width: 100%;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    );
    a {
      color: $white;
      display: block;
    }
    .header-logo {
      background: $white;
      padding: 1.5rem 1.5rem 1.5rem 1.25rem;
      img {
        width: 250px;
      }
    }
  }
  #header-navbar-scrolled {
    background: $white;
    z-index: 9999;
    position: fixed;
    height: 70px;
    width: 100%;
    top: -70px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    animation: top 0.2s ease-in;
    &.fixed {
      animation-name: slideIn;
      animation-duration: 0.3s;
      animation-timing-function: ease;
      top: 0;
    }
    a {
      color: $black;
      display: block;
    }
    .header-logo {
      img {
        width: 180px;
      }
    }
    .header-nav {
      a {
        padding: 0 1rem;
      }
    }
    .language {
      font-size: 0.937rem;
      i {
        font-size: 1.125rem;
        margin-top: 5px;
        vertical-align: sub;
      }
    }
  }
}

body.square {
  #header-navbar {
    .header-logo {
      padding: 1rem 1.5rem;
      img {
        width: 110px;
      }
    }
  }
}
